.header {
  position: absolute;
  width: 96%;
  height: 10%;
  left: 2%;
  top: 2%;

  background: #58c9a0;
  border-radius: 20px;
}
.car {
  position: absolute;
  width: 7%;
  height: 100%;
  left: 3%;
  top: 3%;
}
.logo {
  position: absolute;
  width: 6%;
  height: 90%;
  left: 10%;
  top: 3%;
}
.navbar {
  position: absolute;
  width: 96%;
  height: 10%;
  left: 2%;
  top: 14%;

  background: #58c9a0;
  border-radius: 20px;
}
.navbutton {
  position: relative;
  width: 17%;
  height: 80%;
  left: 3%;
  top: 10%;
  margin-right: 2%;
  background: #1d4e65;
  border-radius: 10px;
}
.navtext {
  position: relative;
  width: 100%;
  height: 100%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;

  text-align: center;

  color: #ffffff;

  border: 1px 1px #000000;
}
.map {
  position: absolute;
  width: 74%;
  height: 72%;
  left: 2%;
  top: 26%;

  border-radius: 20px;
  display: inline-block;
}

.souvenirs {
  position: relative;
  width: 20%;
  height: 55%;
  left: 78%;
  top: 28%;
  background-color: white;
  overflow-y: scroll;
  background-color: rgba(216, 240, 237, 0.774);
}
.souvenirs::-webkit-scrollbar {
  display: none;
}
.cards {
  width: 100%;
  height: 15%;
  margin-bottom: 10%;
  background: #ffffff;
  border: 4px solid #58c9a0;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 2%;
  text-align: center;
}
.bud_text {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-top: 3%;
  margin: auto;
}
.plus {
  position: absolute;
  width: 5%;
  height: 6%;
  margin-left: 85%;
  margin-top: 15%;
  background-color: white;
  border-style: none;
}
.plus1 {
  width: 90%;
  height: 100%;
}
