* {
  outline: none;
}
.header {
  position: absolute;
  width: 96%;
  height: 10%;
  left: 2%;
  top: 2%;

  background: linear-gradient(
    90.34deg,
    rgba(170, 66, 28, 0.88) -0.88%,
    rgba(128, 44, 14, 0.88) 100.08%
  );
  border-radius: 20px;
}
.car {
  position: absolute;
  margin-left: 2%;
  height: 100%;
  margin-bottom: 2%;
}
.navbar {
  position: absolute;
  width: 96%;
  height: 10%;
  left: 2%;
  top: 14%;
  background: linear-gradient(
    90.34deg,
    rgba(170, 66, 28, 0.88) -0.88%,
    rgba(128, 44, 14, 0.88) 100.08%
  );
  border-radius: 20px;
}
.navbutton {
  position: relative;
  width: 17%;
  height: 80%;
  left: 3%;
  top: 10%;
  margin-right: 2%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
}
.navtext {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  border: 1px 1px #000000;
}
.map {
  position: absolute;
  width: 74%;
  height: 72%;
  left: 2%;
  top: 26%;
  border-radius: 20px;
  display: inline-block;
}
.moods {
  position: absolute;
  width: 22%;
  height: 72%;
  left: 78%;
  top: 28%;
  display: inline-block;
}
.cards {
  width: 6%;
  height: 25%;
  top: 28%;
  margin-right: 43%;
  display: inline-block;
  align-items: center;
}

.mood1 {
  margin-bottom: 100%;
  background-color: white;
  border-radius: 50;
  border-style: none;
}

.moodtext {
  position: absolute;
  width: 20%;
  margin-left: 6%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
.music {
  position: absolute;
  width: 22%;
  height: 72%;
  left: 78%;
  top: 28%;
  display: none;
  align-items: center;
}

.songname {
  width: 80%;
  height: 10%;
  margin-bottom: 2%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.songimage {
  position: absolute;
  width: 20vh;
  height: 20vh;
  background-color: blue;
  margin-left: 19%;
}
.buttons {
  position: absolute;
  width: 90%;
  height: 10%;
  display: inline-block;
  background-color: white;
  margin-top: 50%;
}
.button {
  width: 70%;
  height: 75%;
  background-color: white;
}
.design {
  background-color: white;
  border-style: none;
}
.next {
  width: 20%;
  height: 5%;

  margin-left: 30%;
  margin-top: 70%;
  background-color: white;
  border-style: none;
  padding-right: 7%;
}
.container {
  width: 40%;
  height: 8%;
  margin-top: 20%;
  margin-left: 25%;
  background: #58c9a0;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 30px;
}
.services {
  position: absolute;
  width: 22%;
  height: 72%;
  left: 78%;
  top: 28%;
  display: none;
}
.cards {
  width: 6%;
  height: 25%;
  top: 28%;
  margin-right: 43%;
  display: inline-block;
  align-items: center;
}
.servicestext {
  position: absolute;
  width: 40%;
  margin-right: 2%;
  margin-left: 2%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #000000;
}

.buddies {
  position: absolute;
  width: 22%;
  height: 72%;
  left: 78%;
  top: 28%;
  display: none;
}
.bud_cards {
  width: 90%;
  height: 15%;
  margin-bottom: 20%;
  background: #ffffff;
  border: 4px solid #58c9a0;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.bud_img {
  position: absolute;

  width: 20%;
  height: 10%;
  padding-top: 2%;

  margin-left: 2%;
}
.bud_text {
  position: absolute;
  margin-left: 25%;

  font-family: "Inter", sans-serif;
  width: 60%;
  height: 10%;
  padding-top: 5%;
  font-size: 20 px;
  text-align: center;
}
.souvenirs {
  position: relative;
  width: 20%;
  height: 55%;
  left: 78%;
  top: 28%;
  overflow-y: scroll;
  display: none;

  background: linear-gradient(
    148.93deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(196, 196, 196, 0.8) 103.08%
  );
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 40px;
}
.souvenirs::-webkit-scrollbar {
  display: none;
}
.souv_cards {
  width: 90%;
  height: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 5%;
  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 30px;
}
.souv_text {
  display: inline-block;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-top: 3%;
  margin: auto;
  color: white;
  font-weight: bold;
}
.plus {
  position: absolute;
  width: 5%;
  height: 6%;
  margin-left: 85%;
  margin-top: 15%;
  background-color: white;
  border-style: none;
  display: none;
}
.plus1 {
  width: 90%;
  height: 100%;
}
.history {
  position: absolute;
  width: 22%;
  height: 72%;
  left: 78%;
  top: 28%;
  display: none;
}
.hist_cards {
  width: 90%;
  height: 15%;
  margin-bottom: 20%;
  background: #ffffff;
  border: 4px solid #58c9a0;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.hist_img {
  position: absolute;
  width: 20%;
  height: 15%;
  align-items: center;
}
.hist_text {
  position: absolute;
  font-family: "Inter", sans-serif;
  width: 70%;
  height: 15%;
  font-size: 20px;

  margin-left: 25%;
}

.servicesin {
  position: absolute;
  width: 22%;
  height: 72%;
  left: 78%;
  top: 28%;
  display: none;
}
.servicesin_cards {
  width: 90%;
  height: 15%;
  margin-bottom: 20%;
  background: #ffffff;
  border: 4px solid #58c9a0;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.servicesin_img {
  display: inline-block;
  width: 4%;
  height: 6%;
}
.servicesin_text {
  margin-left: 30%;
  display: inline-block;
  font-family: "Inter", sans-serif;
  width: 70%;
  height: 70%;
  font-size: 15px;
}
.weather {
  text-align: right;
}
.weather_text {
  position: relative;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  background-color: blue;
  margin-right: 5%;
  display: inline-block;
}
.weather_img {
  position: relative;
  height: 100%;
  margin-bottom: 2%;
  margin-right: 2%;
  margin-left: 2%;
  display: inline-block;
}
