* {
  outline: none;
  font-family: "Infer", sans-serif;
}
.header {
  position: absolute;
  width: 96%;
  height: 10%;
  left: 2%;
  top: 2%;
  display: inline-block;
  background: linear-gradient(
    90.34deg,
    rgba(170, 66, 28, 0.88) -0.88%,
    rgba(128, 44, 14, 0.88) 100.08%
  );
  border-radius: 20px;
}
.car {
  position: absolute;
  margin-left: 2%;
  height: 100%;
  margin-bottom: 2%;
}
.navbar {
  position: absolute;
  width: 96%;
  height: 10%;
  left: 2%;
  top: 14%;
  background: linear-gradient(
    90.34deg,
    rgba(170, 66, 28, 0.88) -0.88%,
    rgba(128, 44, 14, 0.88) 100.08%
  );
  border-radius: 20px;
}
.navbutton {
  position: relative;
  width: 14%;
  height: 80%;
  left: 2%;
  top: 10%;
  margin-right: 2%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
}
.navtext {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  border: 1px 1px #000000;
}
.map {
  position: absolute;
  width: 74%;
  height: 72%;
  left: 2%;
  top: 26%;
  border-radius: 20px;
  display: inline-block;
}
.moods {
  position: absolute;
  width: 22%;
  height: 72%;
  left: 78%;
  top: 28%;
  display: inline-block;
}
.cards {
  width: 6%;
  height: 25%;
  top: 28%;
  margin-right: 43%;
  display: inline-block;
  align-items: center;
}

.mood1 {
  margin-bottom: 100%;
  background-color: white;
  border-radius: 50;
  border-style: none;
}

.moodtext {
  position: absolute;
  width: 20%;
  margin-left: 6%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #000000;
}
.music {
  position: absolute;
  width: 22%;
  height: 72%;
  left: 78%;
  top: 28%;
  display: none;
  align-items: center;
}

.songname {
  width: 80%;
  height: 10%;
  margin-bottom: 2%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.songimage {
  position: absolute;
  width: 20vh;
  height: 20vh;
  border-style: none;
  margin-left: 19%;
}
.buttons {
  position: absolute;
  width: 90%;
  height: 10%;
  display: inline-block;
  background-color: white;
  margin-top: 50%;
}
.button {
  width: 70%;
  height: 75%;
  background-color: white;
}
.design {
  background-color: white;
  border-style: none;
}
.next {
  width: 20%;
  height: 5%;

  margin-left: 30%;
  margin-top: 70%;
  background-color: white;
  border-style: none;
  padding-right: 7%;
}
.container {
  width: 40%;
  height: 8%;
  margin-top: 20%;
  margin-left: 25%;
  background: #58c9a0;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-size: 30px;
}
.services {
  position: absolute;
  width: 22%;
  height: 72%;
  left: 78%;
  top: 28%;
  display: none;
}
.cards {
  width: 6%;
  height: 25%;
  top: 28%;
  margin-right: 43%;
  display: inline-block;
  align-items: center;
}
.servicestext {
  position: absolute;
  width: 40%;
  margin-right: 2%;
  margin-left: 2%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #000000;
}
.buddy {
  position: absolute;
  width: 20%;
  height: 70%;
  left: 78%;
  top: 28%;
  display: none;
  align-items: center;
}
.toogle {
  position: relative;
  width: 80%;
  height: 10%;
}
.buddies {
  position: relative;
  margin-top: 15%;

  width: 100%;
  height: 80%;
  overflow-y: scroll;
  background: linear-gradient(
    148.93deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(196, 196, 196, 0.8) 103.08%
  );
  backdrop-filter: blur(10px);
  font-style: bold;
  text-align: center;
}
.bud_cards {
  width: 100%;
  height: 20%;
  margin-bottom: 5%;

  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 30px;
}
.bud_img {
  position: absolute;

  width: 20%;
  height: 10%;
  padding-top: 5%;

  margin-left: 2%;
}
.bud_text {
  position: absolute;
  margin-left: 25%;

  font-family: "Inter", sans-serif;
  width: 60%;
  height: 10%;
  padding-top: 5%;
  font-size: 20px;
  text-align: center;

  color: white;
  font-weight: bold;
}
.buddies::-webkit-scrollbar {
  display: none;
}
.souvenirs {
  position: relative;
  width: 20%;
  height: 55%;
  left: 78%;
  top: 28%;
  overflow-y: scroll;
  display: none;

  background: linear-gradient(
    148.93deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(196, 196, 196, 0.8) 103.08%
  );
  backdrop-filter: blur(10px);
  border-radius: 40px;
}
.souvenirs::-webkit-scrollbar {
  display: none;
}
.souv_cards {
  width: 90%;
  height: 15%;
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 5%;
  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 30px;
}
.souv_text {
  display: inline-block;
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-top: 3%;
  margin: auto;
  color: white;
  font-weight: bold;
}
.plus {
  position: absolute;
  width: 5%;
  height: 6%;
  margin-left: 85%;
  margin-top: 15%;
  background-color: white;
  border-style: none;
  display: none;
}
.plus1 {
  width: 90%;
  height: 100%;
}
.history {
  position: absolute;
  width: 20%;
  height: 70%;
  left: 78%;
  top: 28%;
  overflow-y: scroll;
  display: none;

  background: linear-gradient(
    148.93deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(196, 196, 196, 0.8) 103.08%
  );
  backdrop-filter: blur(10px);
  border-radius: 40px;
}
.history::-webkit-scrollbar {
  display: none;
}
.hist_cards {
  width: 100%;
  height: 25%;
  margin-bottom: 5%;
  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 30px;
}
.hist_img {
  position: absolute;
  width: 20%;
  height: 18%;
  align-items: center;
  margin-top: 10%;
}
.hist_text {
  position: absolute;
  font-family: "Inter", sans-serif;
  width: 70%;
  height: 15%;
  font-size: 20px;
  margin-left: 25%;

  color: white;
  font-weight: bold;
}

.servicesin {
  position: absolute;
  width: 20%;
  height: 70%;
  left: 78%;
  top: 28%;
  display: none;
  align-items: center;
}
.services_upar {
  width: 100%;
  height: 10%;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.services_in_in {
  position: relative;
  margin-top: 5%;

  width: 100%;
  height: 80%;
  overflow-y: scroll;
  background: linear-gradient(
    148.93deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(196, 196, 196, 0.8) 103.08%
  );
  backdrop-filter: blur(10px);
  font-style: bold;
  text-align: center;
}
.servicesin_cards {
  width: 100%;
  height: 25%;
  margin-bottom: 5%;

  text-align: center;
  background: rgba(0, 0, 0, 0.38);
  border-radius: 30px;
}
.servicesin_text::-webkit-scrollbar {
  display: none;
}
.servicesin_img {
  position: absolute;

  width: 20%;
  height: 15%;
  margin-left: 2%;
  margin-top: 5%;
}
.servicesin_text {
  position: absolute;
  margin-left: 25%;

  font-family: "Inter", sans-serif;
  width: 60%;
  height: 25%;

  font-size: 15px;
  text-align: center;
  color: white;
  overflow-y: scroll;
}
.services_in_in::-webkit-scrollbar {
  display: none;
}
.weather {
  margin-left: 75%;
  display: inline-block;
  width: 25%;
  height: 100%;
}
.weather_text {
  position: absolute;
  height: 100%;
  width: auto;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;

  color: #ffffff;
  text-align: center;
  margin-left: 3%;
}
.weather_img {
  position: absolute;
  height: 100%;
  width: auto;
  margin-left: 15%;
  display: inline-block;
  align-items: center;
}

.switch {
  position: absolute;
  width: 18%;
  height: 5%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #9b4b2f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border-color: black;
}

.slider.round:before {
  border-radius: 50%;
}
.schedule {
  position: absolute;
  width: 20%;
  height: 70%;
  left: 78%;
  top: 28%;
  display: none;
  align-items: center;
}

.scheduling {
  position: relative;
  margin-top: 10%;

  width: 100%;
  height: 80%;
  overflow-y: scroll;
  background: linear-gradient(
    148.93deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(196, 196, 196, 0.8) 103.08%
  );
  backdrop-filter: blur(10px);
  font-style: bold;
  text-align: center;
}
.add_schedule {
  display: none;
}
