<html>
    <head>
        <meta charset="utf-8">
        <title>Moods</title>
        <link rel="shortcut icon" href="#">
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/Mood.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-database.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/Mood.js') }}"></script>
    </head>
    <body>
        <div class="header">
            <img src="{{ url_for('static', filename='pics/car.svg') }}" class="car"></img>
            <div class='weather'>   
            <div  class='weather_text'><text>{{ct}} <br>{{temp}} <br>{{desc}}</a></div>
           <div class="weather_img"> <img src="{{icon}}" style="height: 100%;width: auto;" /></div>
         </div>
      
          </div>
        <div class='navbar'>
            <button class='navbutton' onclick="music('NA')"><text class='navtext'>MUSIC</text></button>
            <button class='navbutton' onclick="services()"><text class='navtext'>SERVICES</text></button>
            <button class='navbutton' onclick="buddies()"><text class='navtext'>BUDDIES</text></button>
            <button class='navbutton' onclick="souvenirs()"><text class='navtext'>SOUVENIRS</text></button>
            <button class='navbutton' onclick="hist()"><text class='navtext'>HISTORY</text></button>
            <button class='navbutton' onclick="schedule()"><text class='navtext'>SCHEDULE</text></button>
        </div>
        <div class='map' id='map'>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjqw8bOGGz9Ojfei_gOoYtxO5FKFo0gr0&callback=initMap"></script>    
        </div>
        <div class='moods' id='moods'>
            <div class='cards'>
                <button class="mood1" onclick="music('party')"><img src="{{ url_for('static', filename='pics/party.png') }}"></button>  
                <a class='moodtext'> PARTY</a>
            </div>
            <div class='cards'>
                <button class="mood1" onclick="music('romantic')"><img src="{{ url_for('static', filename='pics/love.png') }}"></button>  
                <a class='moodtext'> LOVE</a>
            </div>
            <br><br><br>
            <div class='cards'>
                <button class="mood1" onclick="music('sad')"><img src="{{ url_for('static', filename='pics/sad.png') }}"></button>  
                <a class='moodtext'> SAD</a>
            </div>
            <div class='cards'>
                <button class="mood1" onclick="music('happy')"><img src="{{ url_for('static', filename='pics/happy.png') }}"></button>  
                <a class='moodtext'> HAPPY</a>
            </div>
            <br><br><br>
            <div class='cards'>
                <button class="mood1" onclick="music('weather')" ><img src="{{ url_for('static', filename='pics/weather.png') }}"></button>  
                <a class='moodtext'> WEATHER</a>
            </div>
            <div class='cards'>
                <button class="mood1" onclick="music('region')"><img src="{{ url_for('static', filename='pics/region.png') }}"></button>  
                <a class='moodtext'> REGION</a>
            </div>

    </div>
                <!-- MUSIC DIV -->
                <div class='music' id='music'>

                    <div class='songname' id='song_name'>Song Name </div>
                    <div class="songname" id='song_artist'>Artist</div>
                    <img class='songimage' id="song_image">
            <div class='buttons'>
                <!-- <button class='design' >  <img src="./pics/pause.png" class='button'></button> -->
                <!-- <button class="design">  <img src="./pics/play.png" class='button'> </button> -->
                <!-- <button class='design'>  <img src="./pics/stop.png" class='button'></button> -->
                <audio controls  type="audio/mpeg" id="music_url" style="width: 100%;">
                    Your browser does not support the audio element.
                    </audio>

            </div>
    
            <button  class='next' onClick='play_song(getMood())' ><img src="{{ url_for('static', filename='pics/next.png') }}"></button>
            <button class='container' onClick='music()'> <a>MOODS</a></button>
            </div>
            <!-- MUSIC DIV -->


            <!-- SERVICES DIV -->
            <div class='services' id='services'>
                <div class='cards'>
                    <button class="mood1" onclick="servicesin('HOTELS')"><img src="{{ url_for('static', filename='pics/HOTELS.png') }}"></button>  
                    <a class='servicestext'> HOTELS</a>
                </div>
                <div class='cards'>
                    <button class="mood1" onclick="dynamic()"><img src="{{ url_for('static', filename='pics/FUEL.png') }}"></button>  
                    <a class='servicestext'> FUEL</a>
                </div>
                <br><br><br>
                <div class='cards'>
                    <button class="mood1"  onclick="servicesin('POLICE STATION')"><img src="{{ url_for('static', filename='pics/POLICE STATION.png') }}"></button>  
                    <a class='servicestext'> POLICE</a>
                </div>
                <div class='cards'>
                    <button class="mood1" onclick="servicesin('CAR REPAIR')"><img src="{{ url_for('static', filename='pics/CAR REPAIR.png') }}"></button>  
                    <a class='servicestext'> CAR REPAIR</a>
                </div>
                <br><br><br>
                <div class='cards'>
                    <button class="mood1" onclick="servicesin('HOSPITALS')"><img src="{{ url_for('static', filename='pics/HOSPITALS.png') }}"></button>  
                    <a class='servicestext'> HOSPITALS</a>
                </div>
                <div class='cards'>
                    <button class="mood1" onclick="servicesin('PHARMACY')"><img src="{{ url_for('static', filename='pics/PHARMACY.png') }}"></button>  
                    <a class='servicestext'>PHARMACY</a>
                </div>
    
        </div>
        <!-- SERVICES DIV -->


        <!-- BUDDIES DIV -->
        <div class="buddy" id="buddy">
            <div class='toggle' id='toggle'>
                <label class="switch">
                    <input type="checkbox" id="checkbox" onclick="buddies_toggle()">
                    <span class="slider round"></span>
                   
                  </label>
                  <text style="font-weight: bold;margin-left: 30%;font-family: Infer, sans-serif;font-size: 20px;">Make myself visible<br></text>
            </div>
        <div class='buddies' id='buddies'>
        </div>
        </div>
        <!-- BUDDIES DIV -->

        <!-- SOUVENIRS -->
        <div class='souvenirs' id='souvenirs'></div>
        <button class='plus' onClick='add()' id='plus'><img src="{{ url_for('static', filename='pics/plus.svg') }}" class='plus1'></button>
        <!-- SOUVENIRS -->


        <!-- HISTORY -->
        <div class='history' id='history'></div>
        <!-- HISTORY -->


        <!-- SERVICES IN -->
        <div class='servicesin' id='servicesin'>
           
        </div>
        <!-- SERVICES IN -->


        <!-- <SCHEDULING> -->
            <div class="schedule" id="schedule">
                <div class='toggle' id='toggle1'>
                    <label class="switch">
                        <input type="checkbox" id="checkbox1" onclick="schedule_toggle()">
                        <span class="slider round"></span>
                       
                      </label>
                      <text style="font-weight: bold;margin-left: 30%;font-family: Infer, sans-serif;font-size: 20px;">Schedule a Trip<br></text>

                </div>
                <br>
                <div id='add_schedule'>
                <div id='scheduling1'> </div>
                <button onclick="self_scheduler()" ><b>Self Schedule</b></button>
                </div>
            <div class='scheduling' id='scheduling'>
            </div>
  
            </div>


        <!-- </SCHEDULING> -->
    </body>
</html>